.dual-line {
    display: flex;
    align-items: center;

    mat-form-field {
        width: 50%;

        &:first-of-type {
            padding-right: 24px;
        }

    }

    mat-checkbox {
        width: 50%;
    }

}

.fullWidthLine {
    mat-form-field {
        width: 100%;
    }
}
