<div class="add-feature" *ngIf="'feature' | rights | async">
    <button
        mat-mini-fab
        (click)="openFeatureDialog()"
        color="primary"
        matTooltip="Opens dialog to add a feature"
        matTooltipPosition="right"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>

<mat-tab-group dynamicHeight mat-stretch-tabs [selectedIndex]="selectedTab" (selectedTabChange)="tabChange($event)">
    <mat-tab label="Used Features">
        <ng-container *ngTemplateOutlet="features; context: registeredFeatures"></ng-container>
    </mat-tab>
    <mat-tab label="Unused Features">
        <ng-container *ngTemplateOutlet="features; context: notUsedFeatures"></ng-container>
    </mat-tab>
</mat-tab-group>

<ng-template #features let-features="features" let-placeholder="placeholder">
    <div class="features">
        <ng-container *ngIf="features.length > 0">
            <div class="feature" *ngFor="let feature of features; let i = index">
                <mat-card (click)="activateFeature(feature, i)">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{ feature.name }}

                            <div>
                                <mat-icon
                                    (click)="$event.stopImmediatePropagation(); openFeatureDialog(feature)"
                                    matTooltip="Opens dialog to edit the feature"
                                    matTooltipPosition="right"
                                >
                                    edit
                                </mat-icon>
                                <mat-icon
                                    (click)="$event.stopImmediatePropagation(); deleteFeature(features, feature, i)"
                                    matTooltip="Delete this feature"
                                    matTooltipPosition="right"
                                >
                                    delete
                                </mat-icon>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle>{{ feature.shortDescription }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="feature-url" *ngIf="feature.url">
                            <div>
                                URL:
                                <a href="https://{{ feature.url }}" *ngIf="feature.navigable">
                                    {{ feature.url }}
                                </a>
                                <span *ngIf="!feature.navigable">{{ feature.url }}</span>
                            </div>
                            <button
                                type="button"
                                mat-button
                                (click)="copyUrl(feature.url)"
                                matTooltip="Copies the url into your clipboard"
                                matTooltipPosition="right"
                            >
                                Copy
                            </button>
                        </div>
                        <p>
                            {{ feature.description }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
        <ng-container *ngIf="!features.length">
            <div class="no-feature">{{ placeholder }}</div>
        </ng-container>
    </div>
</ng-template>
