<div [formGroup]="formGroup">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Password *</mat-label>
            <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Password"
                formControlName="password"
                (focus)="passwordFocus = true"
                (blur)="onBlur()"
                autocomplete="on"
            />
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="formGroup.get('password').hasError('required')">The password is required</mat-error>
        </mat-form-field>
        <div class="passwordCriterias" [class.focus]="passwordFocus">
            <div [ngClass]="{ 'not-fulfilled': pwCtrl.errors?.length, fulfilled: !pwCtrl.errors?.length }">
                <mat-icon>{{ pwCtrl.errors?.length ? 'clear' : 'done' }}</mat-icon
                >min 8 characters {{ pwCtrl.errors?.length }}
            </div>
            <div [ngClass]="{ 'not-fulfilled': pwCtrl.errors?.upperCase, fulfilled: !pwCtrl.errors?.upperCase }">
                <mat-icon>{{ pwCtrl.errors?.upperCase ? 'clear' : 'done' }}</mat-icon
                >min. 1 upper case
            </div>
            <div [ngClass]="{ 'not-fulfilled': pwCtrl.errors?.lowerCase, fulfilled: !pwCtrl.errors?.lowerCase }">
                <mat-icon>{{ pwCtrl.errors?.lowerCase ? 'clear' : 'done' }}</mat-icon
                >min. 1 lower case
            </div>
            <div [ngClass]="{ 'not-fulfilled': pwCtrl.errors?.number, fulfilled: !pwCtrl.errors?.number }">
                <mat-icon>{{ pwCtrl.errors?.number ? 'clear' : 'done' }}</mat-icon
                >min. 1 number
            </div>
            <div [ngClass]="{ 'not-fulfilled': pwCtrl.errors?.special, fulfilled: !pwCtrl.errors?.special }">
                <mat-icon>{{ pwCtrl.errors?.special ? 'clear' : 'done' }}</mat-icon
                >1 special character (*.!@$%^&:;,.?~+-=)
            </div>
        </div>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Repeat password *</mat-label>
            <input
                matInput
                type="password"
                placeholder="Repeat Password"
                formControlName="repeatedPassword"
                autocomplete="on"
            />
            <mat-error *ngIf="formGroup.get('repeatedPassword').hasError('required')"
                >"Repeat password" is required</mat-error
            >
        </mat-form-field>
        <mat-error
            class="external-mat-error"
            *ngIf="!formGroup.get('repeatedPassword').hasError('required') && formGroup.hasError('equality')"
            >The passwords must be equal</mat-error
        >
    </div>
</div>
