<div class="centered-container background">
    <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <mat-card>
            <div class="registration-header">
                <div class="title">Registration</div>

                <div class="subtitle">
                    <a [routerLink]="['']">Back to login</a>
                </div>
            </div>

            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step
                    [stepControl]="formGroup.controls.user"
                    errorMessage="The username ist already used."
                    #stepUsername
                >
                    <form [formGroup]="formGroup.controls.user">
                        <ng-template matStepLabel>Fill out your credentials</ng-template>
                        <div>
                            <mat-form-field>
                                <mat-label>Username *</mat-label>
                                <input matInput placeholder="Username" formControlName="username" />
                                <mat-error *ngIf="formGroup.controls.user.get('username').hasError('required')"
                                    >The username is required</mat-error
                                >
                                <mat-error *ngIf="formGroup.controls.user.get('username').hasError('notUnique')"
                                    >The username is already used.</mat-error
                                >
                            </mat-form-field>
                        </div>

                        <div class="passwords-container">
                            <passwords-component
                                [formGroup]="formGroup.get('user').get('passwords')"
                            ></passwords-component>
                        </div>

                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="formGroup.controls.mail" errorMessage="The E-Mail is already used." #stepEmail>
                    <form [formGroup]="formGroup.controls.mail">
                        <ng-template matStepLabel>Fill out your e-mail address</ng-template>
                        <mat-form-field>
                            <mat-label>E-Mail *</mat-label>
                            <input matInput placeholder="E-Mail" formControlName="email" />
                            <mat-error *ngIf="formGroup.controls.mail.get('email').hasError('notUnique')"
                                >The E-Mail is already used.</mat-error
                            >
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step #stepSubmit>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button type="submit">Submit</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card>
    </form>
</div>
