<div class="centered-container background">
    <form (ngSubmit)="submit()" [formGroup]="formGroup">
        <mat-card>
            <div class="registration-header">
                <div class="title">Registration</div>

                <div class="subtitle">
                    <a [routerLink]="['']">Back to login</a>
                </div>
            </div>

            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step
                    [stepControl]="formGroup.controls.user"
                    errorMessage="The username ist already used."
                    #stepUsername
                >
                    <form [formGroup]="formGroup.controls.user">
                        <ng-template matStepLabel>Fill out your credentials</ng-template>
                        <div>
                            <mat-form-field>
                                <mat-label>Username *</mat-label>
                                <input matInput placeholder="Username" formControlName="username" />
                                <mat-error *ngIf="formGroup.controls.user.get('username').hasError('required')"
                                    >The username is required</mat-error
                                >
                                <mat-error *ngIf="formGroup.controls.user.get('username').hasError('notUnique')"
                                    >The username is already used.</mat-error
                                >
                            </mat-form-field>
                        </div>
                        <div formGroupName="passwords">
                            <div>
                                <mat-form-field appearance="standard">
                                    <mat-label>Password *</mat-label>
                                    <input
                                        matInput
                                        [type]="hide ? 'password' : 'text'"
                                        placeholder="Password"
                                        formControlName="password"
                                        autocomplete="on"
                                    />
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="pwFormGroup.get('password').hasError('required')"
                                        >The password is required</mat-error
                                    >
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>Repeat password *</mat-label>
                                    <input
                                        matInput
                                        type="password"
                                        placeholder="Repeat Password"
                                        formControlName="repeatedPassword"
                                        autocomplete="on"
                                    />
                                    <mat-error *ngIf="pwFormGroup.get('repeatedPassword').hasError('required')"
                                        >"Repeat password" is required</mat-error
                                    >
                                </mat-form-field>
                                <mat-error
                                    class="external-mat-error"
                                    *ngIf="
                                        !pwFormGroup.get('repeatedPassword').hasError('required') &&
                                        pwFormGroup.hasError('equality')
                                    "
                                    >The passwords must be equal</mat-error
                                >
                            </div>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="formGroup.controls.mail" errorMessage="The E-Mail is already used." #stepEmail>
                    <form [formGroup]="formGroup.controls.mail">
                        <ng-template matStepLabel>Fill out your e-mail address</ng-template>
                        <mat-form-field>
                            <mat-label>E-Mail *</mat-label>
                            <input matInput placeholder="E-Mail" formControlName="email" />
                            <mat-error *ngIf="formGroup.controls.mail.get('email').hasError('notUnique')"
                                >The E-Mail is already used.</mat-error
                            >
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step #stepSubmit>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button type="submit">Submit</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card>
    </form>
</div>
